<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YunHWater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB3E4C9C1DAE06C6008ED5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3E4CB51DAE06C6008ED5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3E4CC01DAE06C6008ED5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
